@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  font-family: 'Source Sans Pro', sans-serif;
  background-color: #0D0D31;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;

}